<%- @body_id = 'page-show' -%>
<% content_for :head do %>
  <title>Toupine & Cabesselle - <%= t('titles.dealers') %></title>
  <meta name="description" content="">
<% end %>


<section class="page">
	<div class="distributeurs_list">
		<h2><%= t('titles.dealers') %></h2>
		<ul>
			
		</ul>
	</div>

	<div id="map_canvas" style="width:100%;height:800px;"></div>

	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<script>
		var markers = [];

		var locations = [
	            ['Chez Florence', 43.897794, 4.803733, '<h1 id="firstHeading" class="firstHeading">Chez Florence</h1><div id="bodyContent"><p>1 place Charles Gontier, ROGNONAS</p><p>04 90 94 80 19</p></div>', '1 place Charles Gontier, ROGNONAS, 04 90 94 80 19'],
	            ['Chez Marie', 43.961576, 4.931229, '<div class="content"><h1 id="firstHeading" class="firstHeading">Chez Marie</h1><div id="bodyContent"><p>448 ave du Mistral, ST SATURNIN LES AVIGNONS</p></div></div>', '448 ave du Mistral, ST SATURNIN LES AVIGNONS'],
	            ['Domaine de la Vallongue', 43.753595, 4.922696, '<div class="content"><h1 id="firstHeading" class="firstHeading">Domaine de la Vallongue</h1><div id="bodyContent"><p>Route de Mouries, D24 - EYGALIERES</p></div></div>', 'Route de Mouriès, D24, EYGALIERES'],
	            ['Gendre primeur', 43.664902, 4.643155, '<div class="content"><h1 id="firstHeading" class="firstHeading">GENDRE PRIMEUR</h1><div id="bodyContent"><p>Avenue des arches - Arles</p><p>06 11 37 86 79</p></div></div>', 'Avenue des arches, ARLES, 06 11 37 86 79'],
	            ['Les cinq sens', 43.836152, 5.037988, '<div class="content"><h1 id="firstHeading" class="firstHeading">Les Cinq Sens</h1><div id="bodyContent"><p>81 rue Raspail - Cavaillon</p><p>04 32 50 28 55</p></div></div>', '81 rue Raspail, CAVAILLON, 04 32 50 28 55'],
	            ['A votre Service', 43.836152, 5.037988, '<div class="content"><h1 id="firstHeading" class="firstHeading">A Votre Service</h1><div id="bodyContent"><p>90 Av de la vallée des Baux, Maussane les Alpilles</p><p>04 90 54 44 76</p></div></div>', '90, ave de la vallée des Baux, MAUSSANE LES ALPILLES, 04 90 54 44 76'],
	            ['Le jardin de Marie', 43.637076, 4.941445, '<div class="content"><h1 id="firstHeading" class="firstHeading">Le jardin de Marie</h1><div id="bodyContent"><p>RN 113 - Saint Martin de Crau</p><p>04 90 53 52 46</p></div></div>', 'RN 113, SAINT MARTIN DE CRAU, 04 90 53 52 46'],
	            ['La provençale', 43.583337, 4.459583, '<div class="content"><h1 id="firstHeading" class="firstHeading">La provencale</h1><div id="bodyContent"><p>Mas Alivon, Le Paty de la Trinité - Albaron</p><p>06 15 10 26 01</p></div></div>', 'Mas Alivon, Le Paty de la Trinité, ALBARON, 06 15 10 26 01'],
	            ['Jacquemes', 43.528853, 5.448804, '<div class="content"><h1 id="firstHeading" class="firstHeading">Jacquemes</h1><div id="bodyContent"><p>9 rue Méjanes - Aix en Provence</p><p>04 42 23 48 64</p></div></div>', '9 rue Méjanes, AIX EN PROVENCE, 04 42 23 48 64', '9 rue Méjanes, AIX EN PROVENCE, 04 42 23 48 64'],
	            ['Les quatres tours', 43.590855, 5.478993, '<div class="content"><h1 id="firstHeading" class="firstHeading">Les quatres tours</h1><div id="bodyContent"><p>Cave de Venelles RN 96 - 56 ave de la grande Bégude - Venelles</p><p>04 42 54 94 23</p></div></div>', 'Cave de Venelles, RN 96, 56 ave de la grande Bégude, VENELLES, 04 42 54 94 23'],
	            ['Issartel distribution', 43.673514, 4.622210, '<div class="content"><h1 id="firstHeading" class="firstHeading">Issartel Distribution</h1><div id="bodyContent"><p>26 ave Sixte Quentin - Arles</p><p>09 67 02 53 01</p></div></div>', '26 ave Sixte Quentin, ARLES, 09 67 02 53 01'],
	            ['Mas des barres', 43.715457, 4.834521, '<div class="content"><h1 id="firstHeading" class="firstHeading">Mas des Barres</h1><div id="bodyContent"><p>Maussane les Alpilles</p><p>04 90 54 44 32</p></div></div>', 'MAUSSANE LES ALPILLES, 04 90 54 44 32'],
	            ['Le cellier du castel', 43.888989, 4.841673, '<div class="content"><h1 id="firstHeading" class="firstHeading">Le cellier du castel</h1><div id="bodyContent"><p>Blvd Gambetta - Chateaurenard</p><p>04 90 94 71 09</p></div></div>', 'Bd Gambetta, CHATEAURENARD, 04 90 94 71 09'],
	            ['Boucherie Brian Decauche', 43.662678, 4.650165, '<div class="content"><h1 id="firstHeading" class="firstHeading">Boucherie Brian Decauche</h1><div id="bodyContent"><p>Pont de crau - Arles</p><p>04 90 96 26 54</p></div></div>', 'Pont de Crau, ARLES, 04 90 96 26 54'],
	            ['Maison Genin', 43.676921, 4.624216, '<div class="content"><h1 id="firstHeading" class="firstHeading">Maison Genin</h1><div id="bodyContent"><p>11 Rue des Porcelets - Arles</p><p>04 90 96 01 12</p></div></div>', '11, rue des Porcelets, ARLES, 04 90 96 01 12'],
	            ['Saveurs et terroirs', 43.677719, 4.630070, '<div class="content"><h1 id="firstHeading" class="firstHeading">Saveurs et terroirs</h1><div id="bodyContent"><p>24 ter rond point des arènes - Arles</p><p>04 90 93 00 03</p></div></div>', '24 ter rond point des Arènes, ARLES, 04 90 93 00 03'],
	            ['Vignerons et passions', 43.663349, 3.470277, '<div class="content"><h1 id="firstHeading" class="firstHeading">Vignerons et passions</h1><div id="bodyContent"><p>BP1 - St Felix de Lodez</p><p>04 67 88 45 75</p></div></div>', 'B.P. 1, ST FELIX DE LODEZ, 04 67 88 45 75'],
	            ['Au Gres des saisons',43.780708, 4.723413, '<div class="content"><h1 id="firstHeading" class="firstHeading">Au gres des saisons</h1><div id="bodyContent"><p>Place jean Galeron - Saint-Étienne-du-Grès</p><p>04 90 96 43 54</p></div></div>', 'Place jean Galeron, ST ETIENNE DU GRES, 04 90 96 43 54'],
	            ['Le Jardin d\'Epicure',50.533573, 2.638710, '<div class="content"><h1 id="firstHeading" class="firstHeading">Le Jardin d\'Epicure</h1><div id="bodyContent"><p>206 rue Sadi Carnot, 62400 Béthune</p><p>03 21 57 91 04</p></div></div>', '206 rue Sadi Carnot, 62400 Béthune, 03 21 57 91 04'],
	            ['Une Histoire de Goûts',50.367985, 3.081189, '<div class="content"><h1 id="firstHeading" class="firstHeading">Une Histoire de Goûts</h1><div id="bodyContent"><p> 54 rue de la Mairie, 59500 Douai</p><p>03 27 98 92 38</p><p><img src="<%= asset_path "douai1.jpg" %>"/><img src="<%= asset_path "douai2.jpg" %>"/></p></div></div>', ' 54 rue de la Mairie, 59500 Douai, 03 27 98 92 38'],
	        ];

		function initialize() {
			var mapCanvas = document.getElementById('map_canvas');
			var mapOptions = {
				center: new google.maps.LatLng(43.881387, 4.730487),
				zoom: 9,
				scrollwheel: false,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(mapCanvas, mapOptions);
		
			var marker, i;
			var infowindow = new google.maps.InfoWindow();

	        google.maps.event.addListener(map, 'click', function() {
	            infowindow.close();
	        });

			for (i = 0; i < locations.length; i++) {
	            marker = new google.maps.Marker({
	                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	                map: map
	            });

	            google.maps.event.addListener(marker, 'click', (function(marker, i) {
	                return function() {
	                    infowindow.setContent(locations[i][3]);
	                    infowindow.open(map, marker);
	                }
	            })(marker, i));

	            // Push the marker to the 'markers' array

	            markers.push(marker);
	        }

		}

		google.maps.event.addDomListener(window, 'load', initialize);

		function myClick(id){
	        google.maps.event.trigger(markers[id], 'click');
	    }

	    $(window).ready(function(){
	    	var list = $('.distributeurs_list ul');

	    	for (i = 0; i < locations.length; i++) {
	    		list.append('<li><a href="#map_canvas" onclick="myClick(' + i + ')">' + locations[i][0] + '</a>, ' + locations[i][4] + '</li>')	
	    	}
	    });

	</script>

</section>